<a href="https://colab.research.google.com/github/vedeshemandi86/Python_New/blob/module-2/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fun():
  print('my first function')
fun()

my first function

In [ ]:
def fun(name):
  print(name +' Man')
fun('Spider')
fun('Iron')
fun('Ant')

Spider Man
Iron Man
Ant Man

In [ ]:
def fun(name,pow):
  print(name+ ' ' +pow)
fun('Spiderman','superstrenght')

Spiderman superstrenght

In [ ]:
def fun(pow,name):
  print(name+ ' ' +pow)
fun('Spiderman','superstrenght')

superstrenght Spiderman

In [ ]:
def fun(*hero):
  print('The hero is '+ hero[0])
fun('Spidey','TS')

The hero is Spidey

In [ ]:
def fun(child3, child2, child1):
  print("The youngest child is " + child1)

fun(child2 = "Emil", child1 = "Tobias", child3 = "Linus")

The youngest child is Tobias

In [ ]:
def nCr(a,b):
  return(fact(a)/(fact(b)*fact(a-b)))
a = int(input(""))
b = int(input(""))
def fact(a):
  res = 1
  for i in range(2,a+1):
    res = res*i
  return res
print(int(nCr(a,b)))

6
5
6

In [ ]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

In [ ]:
a = ['mango','apple','mango','banana']
a.remove('mango')
print(a)

['apple', 'mango', 'banana']

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def nCr(a,b):
  return(fact(a)/(fact(b)*fact(a-b)))
a = int(input(""))
b = int(input(""))
def fact(a):
  res = 1
  for i in range(2,a+1):
    res = res*i
  return res
print(int(nCr(a,b)))

5
4
5

In [ ]:
def my_details():
       a ={
      'name': {'first-name':'Rama', 'last-name':'Rao'},
      'roll-number':'123456',
      'branch':'CSE',
      'specialization':'DS',
      'email-id':'ramarao@gitam.in',
      'moodle-id':'Rama Rao 123456',
      'github-id':'ramarao',
      'replit-id':'ramarao',
      'semester':'2',
      'year':'1'
     }
     return a
dt = my_details()
print(dt)

IndentationError: ignored