<a href="https://colab.research.google.com/github/vedeshemandi86/Python_New/blob/module-3/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('C:/Users/vedes/OneDrive/Documents/Book3.csv')
de = df.drop_duplicates(subset="Name",keep="last")
print(de.to_string())

            Name Gender   Age Adress  Phone Number
0  Vedesh Emandi   Male  18.0  Vizag  9.703433e+09
1            NaN    NaN   NaN    NaN           NaN

In [ ]:
import pandas
print(pd.__version__)

1.4.2

In [ ]:
import pandas as pd
df = pd.read_csv('C:/Users/vedes/OneDrive/Documents/Book3.csv')
de = df.groupby(["Phone number","Age"])
de.first()

                       Name Gender   Age Adress  Phone Number
Age                    None   None   NaN   None           NaN
Phone number  Vedesh Emandi   Male  18.0  Vizag  9.703433e+09

In [ ]:
import pandas as pd
a = pd.read_csv('C:/Users/vedes/OneDrive/Documents/Book3.csv')
print(a.head())

               Name  Gender  Age Adress  Phone Number
0     Vedesh Emandi    Male   18  Vizag    9703433344
1       S J Meghana  Female   18  Vizag    9346055799
2  Abhinav Damodara    Male   18  Vizag    9640025436
3    Abhihith Naidu    Male   18  Vizag    8746209981
4         P Hemanth    Male   18  Vizag    9723009821