<a href="https://colab.research.google.com/github/vedeshemandi86/Python_New/blob/module-2/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [ ]:
fruits = ("apple", "banana", "cherry", "apple", "cherry")
print(fruits)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

In [ ]:
fruits = ("apple",)
print(type(fruits))

#NOT a tuple
fruits = ("apple")
print(type(fruits))

<class 'tuple'>
<class 'str'>

In [ ]:
t1 = ("apple", "banana", "cherry")
t2 = (1, 5, 3, 7, 9)
t3 = (True, False, False)

In [ ]:
t1 = ("abc", 34, True, 40, "male")
print(t1)

('abc', 34, True, 40, 'male')

In [ ]:
fruits = ("apple", "banana", "cherry")
print(type(fruits))

<class 'tuple'>

In [ ]:
fruits = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(fruits)

('apple', 'banana', 'cherry')

Check if item exists

In [ ]:
fruits = tuple(("apple", "banana", "cherry"))
if 'kiwi' in fruits:
  print("Yes, 'apple' is in the list")
else:
  print('The item is not in the list')

The item is not in the list

In [ ]:
fruits = ('apple','banana','kiwi','mango','orange','tomato')
print(fruits[1:5])

('banana', 'kiwi', 'mango', 'orange')

In [ ]:
a = ('apple','banana','kiwi','mango','orange','tomato')
b = list(a)
b.append('blueberry')
a = tuple(b)
print(a)

('apple', 'banana', 'kiwi', 'mango', 'orange', 'tomato', 'blueberry')

In [ ]:
a = ('apple','banana','kiwi','mango','orange')
b = ('tomato',)
a += b
print(a)

('apple', 'banana', 'kiwi', 'mango', 'orange', 'tomato')

In [ ]:
a = ('apple','banana','kiwi','mango','orange','tomato')
b = list(a)
b.remove('tomato')
a = tuple(b)
print(a)

('apple', 'banana', 'kiwi', 'mango', 'orange')

In [ ]:
fruits = ('apple','banana','kiwi')
(vedesh,bujji,abhi) = fruits
print(vedesh)
print(bujji)
print(abhi)

apple
banana
kiwi

In [ ]:
fruits = ('apple','banana','kiwi','mango','orange','tomato')
(vedesh,bujji,*abhi) = fruits
print(vedesh)
print(bujji)
print(abhi)

apple
banana
['kiwi', 'mango', 'orange', 'tomato']

In [ ]:
fruits = ('apple','banana','kiwi','mango','orange','tomato')
(*vedesh,bujji,abhi) = fruits
print(vedesh)
print(bujji)
print(abhi)

['apple', 'banana', 'kiwi', 'mango']
orange
tomato